@font-face {
  font-family: 'EnchantedLand';
  src: url('/public/EnchantedLand.eot');
  src: url('/public/EnchantedLand.woff2') format('woff2'),
       url('/public/EnchantedLand.woff') format('woff'),
       url('/public/EnchantedLand.svg#EnchantedLand') format('svg'),
       url('/public/EnchantedLand.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

